<html ng-app="foodTruck">
<head>
    <meta charset="UTF-8">
    <title>Food Truck</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/angular/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="lib/angular/angular-material.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-material.min.js"></script>
    <script src="lib/angular/angular-material.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="js/app.js"></script>
    <script src="js/controllers/pedidoCtrl.js"></script>
    <script src="js/controllers/comboBox.js"></script>
</head>
<body ng-controller="pedidoCtrl">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<div class="jumbotron">
    <h3>{{app}}</h3>
    <form name="contatoForm">
      <input class="form-control" type="text" ng-model="foodTruck.nomes" name="nome" placeholder="Nome"  />
      <select class="form-control" ng-model="foodTruck.mesa" ng-options="'Mesa '+mesa.nome for mesa in mesas | orderBy:'nome'">
         <option value="">Selecione uma mesa</option>
      </select>
      <a href="pagina2.html" class="form-control btn btn-primary" >Realizar Pedido</a>
    </form>
</div>

<div ng-controller="SelectedTextController" class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title">Pick an item below</h1>
        <div layout="row">
            <md-input-container>
                <label>Items</label>
                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                    <md-optgroup label="items">
                        <md-option ng-value="item" ng-repeat="item in items">Item {{item}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>


<div ng-include="'view/footer.html'"></div>
</body>
</html>