<html ng-app="foodTruck">
<head>
    <meta charset="UTF-8">
    <title>Food Truck</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/pedidoCtrl.js"></script>
    <script src="js/controllers/comboBox.js"></script>
</head>
<body ng-controller="pedidoCtrl">
<div class="jumbotron">
    <h3>{{foodTruck.nome+' '+mesa.nome}}</h3>
    <form name="contatoForm">
        <input class="form-control" type="text" ng-model="foodTruck.nomes" name="nome" placeholder="Nome"  />
        <select class="form-control" ng-model="foodTruck.mesa" ng-options="'Mesa '+mesa.nome for mesa in mesas | orderBy:'nome'">
            <option value="">Selecione uma mesa</option>
        </select>
        <button class="form-control btn btn-primary btn-block" ng-click="" >Realizar Pedido</button>
    </form>
</div>
<div ng-include="'view/footer.html'"></div>
</body>
</html>